.petition-section {
  background-color: #000;
  color: #E6E6FA;
}

#petitionModalLabel {
  color: #00a652;
}

div.modal-body {
  color: #000;
}

div.form-group.row.has-danger input {
  border-width: 0.25rem;
}
