<section name="banner" class="text-xs-center banner-section p-y-3" id="mission">
  <div class="container-fluid">
    <div class="row">
      <h5>{{ .banner.teaser }}</h5>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-sm-10 offset-sm-1">
        <h1 class="m-y-2">{{ .banner.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <h5>{{ .banner.subtitle }}</h5>
        <a href="{{ .Site.BaseURL }}{{ .banner.actionLink }}" class="btn btn-success m-t-2 btn-lg">{{ .banner.action }}</a>
      </div>
    </div>
  </div>
</section>
