<section name="issues" class="text-xs-center p-y-3 issues-section" id="issues">
  <div class="container">
    <h2>Issues</h2>
    {{ $baseUrl := .Site.BaseURL }}

    {{ $.Scratch.Add "i" 1 }}

    {{ range .issues }}
      {{ $count := ($.Scratch.Get "i") }}
      {{ if eq $count 5 }}
        <div class="col-lg-3 hidden-xl-up hidden-md-down"></div>
      {{ end }}

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-y-2">
        <img class="img-fluid img-circle img-issue m-x-auto" src="{{ $baseUrl }}{{ .src }}" />
        <h6 class="m-t-2 issue-title"><strong>{{ .title }}</strong></h6>

        {{ if eq (mod $count 2) 0 }}
          <hr class="underline underline-success"/>
        {{ end }}

        {{ if eq (mod $count 2) 1 }}
          <hr class="underline underline-success"/>
        {{ end }}

        <p>{{ .subtitle }}</p>
      </div>

      {{ if modBool $count 2 }}
        <div class="clearfix hidden-md-up hidden-xs-down"></div>
      {{ end }}

      {{ if modBool $count 3 }}
        <div class="clearfix hidden-lg-up hidden-sm-down"></div>
      {{ end }}

      {{ if modBool $count 4 }}
        <div class="clearfix hidden-xl-up hidden-md-down"></div>
      {{ end }}

      {{ if modBool $count 6 }}
        <div class="clearfix hidden-xl-down"></div>
      {{ end }}

      {{ $.Scratch.Add "i" 1 }}
    {{ end }}
  </div>
</section>
