<section name="petition" class="text-xs-center petition-section p-y-3" id="petition">
  <div class="container">
    <h2>{{ .petition.title }}</h2>
    <h5 class="m-t-2 m-b-3">{{ .petition.subtitle | markdownify }}</h5>
    <form>
      <div class="form-group row m-t-3">
        <label for="petition-name" class="col-sm-2 col-form-label col-form-label-lg">{{.petition.name}}*</label>
        <div class="col-sm-9">
          <input type="text" class="form-control form-control-lg" id="petition-name" placeholder="{{.petition.name}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="petition-zip" class="col-sm-2 col-form-label col-form-label-lg">{{.petition.zip}}</label>
        <div class="col-sm-9">
          <input type="text" class="form-control form-control-lg" id="petition-zip" placeholder="{{.petition.zip}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="petition-email" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control form-control-lg" id="petition-email" placeholder="Email">
        </div>
      </div>

      <div class="form-group row m-t-3">
        <div class="offset-sm-2 col-sm-9 m-b-1">
          <button type="submit" class="btn btn-success btn-lg btn-block m-x-auto btn-wrap"><strong class="text-uppercase">I don't support apartheid</strong></button>
        </div>
      </div>

      <div class="form-group row m-t-1">
        <div class="col-sm-4 offset-sm-2 text-xs-left">
          <div class="form-check">
            <label class="form-check-label  form-control-lg">
              <input type="checkbox" class="form-check-input">
              Mailing list opt-in
            </label>
          </div>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-link btn-lg pull-right">Read full petition</button>
        </div>
      </div>
    </form>
  </div>
</section>
