{{ partial "shared/top.html" . }}
<div class="container">
<h1>NOPSC's Human Rights Campaign</h1>

<h2>Introduction</h2>
<p>
  We are a Palestinian-led broad-based coalition of social justice and community organizers in New Orleans working to end our city’s complicity in human rights violations, wherever they occur. Our campaign focuses on ending municipal investment in, as well as contracting with companies who violate, or profit from the violation of human rights. We seek to force companies to have to choose between doing business with the city of New Orleans or with countries who violate human rights while at the same time raise awareness about systemic rights violations that affect communities in New Orleans.
  </p>

  <p>Whether it’s mass incarceration, war crimes in Palestine and Hondurus, ICE deportations, or environmental degradation, we seek to create a legislative too to prevent New Orleans contracting with or investing companies whose human rights violations affect the communities of New Orleans.
  </p>

  <h2>Learn more</h2>
  <div class="btn-group m-b-2" role="group" aria-label="Basic example">
    <a href="/human-rights/timeline" class="btn btn-secondary btn-lg">Timeline</a>
    <a href="/human-rights/news" class="btn btn-secondary btn-lg">In the News</a>
    <a href="/human-rights/statements" class="btn btn-secondary btn-lg">Statements of Support</a>
    <a href="/human-rights/resources" class="btn btn-secondary btn-lg">Resources</a>
  </div>

  <h2>Organizational Endorsers</h2>
    <ul>
      <li><a href="https://www.nolapsc.org/en/">New Orleans Palestinian Solidarity Committee</a></li>
      <li><a href="https://opprcnola.org/">Orleans Parish Prison Reform Coalition</a></li>
      <li><a href="http://nowcrj.org/our-work/congress-day-laborerscongreso-de-journaleros/">Congresso: the Congress of Day Laborers</a></li>
      <li><a href="http://wwav-no.org/">Women With A Vision</a></li>
    </ul>

  <h2>Photo gallery</h2>
  <div id="carousel-human-rights" class="carousel slide m-y-2" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      {{ $baseUrl := .Site.BaseURL }}

      <div class="carousel-item active">
        <img src="/img/human-rights/nopsc-humanrights-1.jpg" class="m-x-auto humanrights-item" alt="About NOPSC Human Rights Campaign">
      </div>

    </div>
    <a class="left carousel-control" href="#carousel-human-rights" role="button" data-slide="prev">
      <span class="icon-prev" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-human-rights" role="button" data-slide="next">
      <span class="icon-next" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

{{ partial "shared/bottom.html" . }}
