<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  <head>
    {{ partial "shared/header.html" . }}
  </head>
  <body>

    <div class="container text-xs-center">
      <h2 class="m-t-3">New Orleans Palestinian Solidarity Committee</h2>
      <h1 class="">Film Festival</h1>
      <a href="https://www.eventbrite.com/e/2nd-annual-new-orleans-palestinian-film-festival-tickets-29033198077" class="btn btn-success btn-lg m-t-1" target="_blank">Get tickets now!</a>
      <img class="img-fluid m-t-3" src="/img/festival/nopffFINAL.jpg" />
    </div>

{{ partial "shared/bottom.html" . }}
