{{ partial "shared/top.html" . }}

{{ partial "sections/news.html" (dict "news" .Site.Params.news "Site" .Site) }}
{{ partial "sections/banner.html" (dict "banner" .Site.Params.banner "Site" .Site) }}
{{ partial "sections/issues.html" (dict "issues" .Site.Params.issues "Site" .Site "Scratch" $.Scratch) }}
{{ partial "sections/petition.html" (dict "petition" .Site.Params.petition "Site" .Site) }}
{{ partial "sections/experience.html" (dict "experience" .Site.Params.experience "Site" .Site) }}
{{ partial "shared/do.html" (dict "do" .Site.Params.do "Site" .Site) }}

{{ partial "shared/bottom.html" . }}
