{{ partial "shared/top.html" . }}


<div class="container">
	<h1>In the news</h1>
	<p>The New Orleans campaign captured a lot of local, national, and even international attention to the way our cities are complicit in the oppression of Black, brown, native, and other marginalized communities. It also illustrated the way Zionist organizations organize to shut down grassroots, cross-movement campaigns for freedom and justice in an effort to shield Israel from cirticism and accountability.</p>

	<p>Here is a sampling of the campaign media coverage before and after the final vote:</p>
</div>


{{ partial "shared/bottom.html" . }}
