<section name="do" class="text-xs-center p-y-3 do-section" id="do">
  <div class="container-fluid">
    <button class="btn btn-lg btn-success">{{ .do.donateButton }}</button>
    {{ if .do.btcAddr }}
      <h6 class="text-muted m-t-1">{{ .do.btcTitle }} {{ .do.btcAddr }}</h6>
    {{ end }}
  </div>
  <div class="container m-t-3">
    <form>
      <h6 class="text-xs-left m-t-1">{{ .do.newsletterTitle }}</h6>
      <div class="form-group row">
        <div class="col-sm-8 text-xs-left m-t-1">
          <input type="email" class="form-control form-control-sm" id="newsletter-email" placeholder="{{ .do.newsletterEmail }}">
          <small>{{ .do.newsletterTip }}</small>
        </div>
        <div class="col-sm-4 m-t-1">
          <button type="submit" class="btn btn-success btn-block btn-sm">{{ .do.newsletterButton }}</button>
        </div>
      </div>
    </form>
  </div>
</section>
