<section name="footer" class="text-xs-center p-y-3 footer-section navbar-dark bg-inverse" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 offset-xs-2">
        <h3><a href="https://www.facebook.com/neworleanspalestiniansolidaritycommittee/
"><i class="icon ion-social-facebook"></i></a></h3>
      </div>
      <div class="col-xs-2">
        <h3><a href="mailto:info@nolapsc.org"><i class="icon ion-email"></i></a></h3>
      </div>
      <div class="col-xs-2">
        <h3><a href="https://twitter.com/nopsc"><i class="icon ion-social-twitter"></i></a></h3>
      </div>
      <div class="col-xs-2">
        <h3><a href="https://twitter.com/nopsc"><i class="icon ion-social-github"></i></a></h3>
      </div>
    </div>
    <hr />

<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
  </div>
</section>
