<nav class="navbar navbar-light navbar-full">
  <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#pl-navbar" aria-controls="pl-navbar" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>

  <div class="collapse navbar-toggleable-sm" id="pl-navbar">
    <div class="hidden-sm-down">
      <a class="navbar-brand" href="/{{ .Lang }}"><img src='/img/logo-navbar.png'/></a>
    </div>

    <div class="hidden-sm-down">
      <ul class="nav navbar-nav pull-xs-left pull-md-right navbar-big">
        {{ $currentNode := . }}
        {{ range .Site.Menus.navbar }}
          {{if .HasChildren }}
            {{ partial "shared/navbar-item-dropdown.html" (dict "navitem" . "currentnode" $currentNode) }}
          {{ end }}

          {{if not .HasChildren }}
            {{ partial "shared/navbar-item.html" (dict "navitem" . "currentnode" $currentNode) }}
          {{ end }}
        {{ end }}
      </ul>
    </div>

    <div class="hidden-md-up">
      <ul class="nav navbar-nav pull-xs-left pull-md-right navbar-small">
        {{ $currentNode := . }}
        {{ range .Site.Menus.navbar }}
          {{if .HasChildren }}
            {{ partial "shared/navbar-item-dropdown.html" (dict "navitem" . "currentnode" $currentNode) }}
          {{ end }}

          {{if not .HasChildren }}
            {{ partial "shared/navbar-item.html" (dict "navitem" . "currentnode" $currentNode) }}
          {{ end }}
        {{ end }}
      </ul>
    </div>

  </div>
</nav>
