/*.newsletter-section {
  background-color: #00a652;
}

#newsletter-email {
  background-color: #00a652;
  color: #fff;
}

.newsletter-section input::-webkit-input-placeholder {
   color: #000;
}

.newsletter-section input:-moz-placeholder { /* Firefox 18- */
   color: #000;
}

.newsletter-section input::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}

.newsletter-section input:-ms-input-placeholder {
   color: #000;
}*/
