{{ partial "shared/top.html" . }}
<div class="container">
	<h1>Campaign Statements</h1>
	<p>The New Orleans campaign issued these statements during the campaign:</p>

	<p>The campaign also produced this resource <a href="https://drive.google.com/open?id=1qiYCeFFNnkKYXEsyjLoL6i-8LJSQ3azu">“What Is BDS?”</a> to counter attempts to smear the campaign and BDS.</p>

	<p>Following attacks on the city council vote, councilmembers received letters supporting their decision from more than a dozen organizations, including:</p>
</div>
{{ partial "shared/bottom.html" . }}
