{{ partial "shared/top.html" . }}
<div class="container">
  <h1>Statements of support</h1>
  <p>Following attacks on the city council vote, councilmembers received letters supporting their decision from more than a dozen organizations, including:</p>

  <h2>Local</h2>
    <ul>
      <li><a href="https://drive.google.com/file/d/1RRE1c4uBrkfsG4EE4TsJqzDkqsJCpHTQ/view?usp=sharing">BreakOUT</a></li>
      <li><a href="https://drive.google.com/open?id=1h4KhOm9vw8kfHqfiKNjArn4lgaWBc8KQ">Congress of Day Laborers</a></li>
      <li><a href="https://drive.google.com/open?id=1eYwsp8VCqLYFdsS4lJAGXt5IId0obo18">Jewish Voice for Peace New Orleans</a></li>
      <li><a href="https://drive.google.com/open?id=1L2OA0mMiig4U5sjbZ-Sm9UscGI6QgMpB">Orleans Parish Prison Reform Coalition</a></li>
      <li><a href="https://drive.google.com/open?id=15kk1UhlUejkL8qoRLTOvL0NMK53ltPNr">Take Em Down NOLA</a></li>
    </ul>

  <h2>National & International</h2> 
  <ul>
      <li><a href="https://drive.google.com/open?id=1tOn4l4MQtuG1wmp8rO7ekzHHIkgZvbQq">Amnesty International</a></li>
      <li><a href="https://drive.google.com/open?id=1RhEhGlitRYVDp6XEyxte_BAg27JI_LAh">No Dakota Access Pipeline Solidarity</a></li>
      <li><a href="https://drive.google.com/open?id=1UDQTm_9Z1JkQ4ydY4X8Gwb1g2cFRaMk2">Jewish Voice for Peace Rabbinical Council</a></li>
      <li><a href="https://drive.google.com/open?id=1VbF0dWMcBn8ph91swylQ5IRmV9DOx5PB">Enlace International: Prison Divestment Coalition conveners</a></li>
      <li><a href="https://drive.google.com/open?id=1okhzgj3i82kPbIpgzJEp0iotOY8Y7bAG">Palestine Legal</a></li>
      <li><a href="https://drive.google.com/open?id=1i1yFyiKO4R7Km8_ngWPIw0K-bj2FH5dQ">Adalah Justice Project</a></li>
      <li><a href="https://drive.google.com/open?id=1qDk2irUBapQGWLoRVNNJv_-geXP8Fso3">Black4Palestine</a></li>
    </ul>

  <h2>Browse Statements</h2> 
    <div id="carousel-human-statements" class="carousel slide m-y-2" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        {{ $baseUrl := .Site.BaseURL }}

        <div class="carousel-item active">
          <img src="/img/human-rights/statements/amnesty.jpg" class="m-x-auto" alt="Amnesty International">
        </div>

        <div class="carousel-item">
          <img src="/img/human-rights/statements/angola.jpg" class="m-x-auto" alt="NOLA to Angola">
        </div>

        <div class="carousel-item">
          <img src="/img/human-rights/statements/breakout.jpg" class="m-x-auto" alt="BreakOUT!">
        </div>

        <div class="carousel-item">
          <img src="/img/human-rights/statements/congreso.jpg" class="m-x-auto" alt="Congreso: The Congress of Day Laborers">
        </div>

        <div class="carousel-item">
          <img src="/img/human-rights/statements/dissent.jpg" class="m-x-auto" alt="European Dissent">
        </div>

        <div class="carousel-item">
          <img src="/img/human-rights/statements/jvp.jpg" class="m-x-auto" alt="Jewish Voice for Peace - NOLA">
        </div>

        <div class="carousel-item">
          <img src="/img/human-rights/statements/opprc.jpg" class="m-x-auto" alt="Orleans Parish Prison Reform Coalition">
        </div>

        <div class="carousel-item">
          <img src="/img/human-rights/statements/patois.jpg" class="m-x-auto" alt="Patois: The New Orleans International Human Rights Film Festival">
        </div>

        <div class="carousel-item">
          <img src="/img/human-rights/statements/people.jpg" class="m-x-auto" alt="The People's Assembly of New Orleans and Take Em Down NOLA">
        </div>

      </div>
      <a class="left carousel-control" href="#carousel-human-statements" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-human-statements" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
{{ partial "shared/bottom.html" . }}
