{{ partial "shared/top.html" . }}
<div class="container p-b-3">
	<h1>Campaign Timeline</h1>

	<h2 class="m-t-3"><u>2016</u></h2>
	<h3 class="m-t-1"><strong>March 2016:</strong> BDS campaign launches</h3>
	<h3 class="m-t-1"><strong>April 2016:</strong> NOPSC joins community partners in pro-BDS demonstration</h3>
	<h3 class="m-t-1"><strong>April 2016:</strong> NOPSC meets with Councilmember Jason Williams</h3>

	<h2 class="m-t-3"><u>2017</u></h2>
	<h3 class="m-t-1"><strong>January 2017:</strong> NOPSC and community partners hold press conference and issue demands</h3>
	<h3 class="m-t-1"><strong>January 2017:</strong> NOPSC host phone-a-thon to encourage council members to introduce human rights investment screen legislation</h3>
	<h3 class="m-t-1"><strong>February 2017:</strong> NOPSC hosts second phone-a-thon to maintain traction with media and with council</h3>
	<h3 class="m-t-1"><strong>February 2017:</strong> Meetings with Councilmembers Jason Williams and James Gray, as well as LaToya Cantrell’s staff</h3>
	<h3 class="m-t-1"><strong>March 2017:</strong> NOPSC meets with then Mayor Mitch Landrieu</h3>

	<h3 class="m-t-1"><strong>March 2017:</strong> NOPSC meets with Councilmember Jason Williams staff</h3>
	<h3 class="m-t-1"><strong>April 2017:</strong> NOPSC host teach-in series</h3>
	<h3 class="m-t-1"><strong>April 2017:</strong> NOPSC meets with Councilmember Williams and Human Relations Commissioner Larry Bagneris</h3>
	<h3 class="m-t-1"><strong>December 2017:</strong> NOPSC holds press conference at city hall, delivers draft resolution to councilors</h3>
	<h3 class="m-t-1"><strong>December 2017:</strong> NOPSC meets with then Councilmember LaToya Cantrell</h3>

	<h2 class="m-t-3"><u>2018</u></h2>
	<h3 class="m-t-1"><strong>January 18, 2018:</strong> Human rights/BDS resolution passes</h3>
	<h3 class="m-t-1"><strong>January 21 - 26, 2018:</strong> NOPSC and community partners email, call, and attempt to talk to city council members; then Councilmember Susan Guidry is the lone councilor to agree to meet</h3>
	<h3 class="m-t-1"><strong>January 26, 2018:</strong> Human rights/BDS resolution rescinded</h3>
	<h3 class="m-t-1"><strong>February 2018:</strong> NOPSC petitioned the City of New Orleans for communications records under the Freedom of Information Act but was not given all the data requested; the limited information provided revealed council members colluded with the Jewish Federation and Anti-Defamation League, even allowing them to write their statements and dictate their actions leading up to the revote</h3>
</div>
{{ partial "shared/bottom.html" . }}
