{{ partial "shared/top.html" . }}
<div class="container p-b-3">
	<h1>Campaign Resources</h1>
	<h2 class="m-t-2"><a href="https://drive.google.com/open?id=1qiYCeFFNnkKYXEsyjLoL6i-8LJSQ3azu">What is BDS?</a></h2>
	<p>“What Is BDS?” was created to counter attempts to smear the campaign and BDS.</p>

	<h2 class="m-t-2"><a href="https://drive.google.com/open?id=1nKV2HsbDSmSvJJ5sUd3NNynwNSuxd40S">Demand Letter</a></h2>
	<p>Campaign groups stood together to issue a Demand Letter.</p>

	<h2 class="m-t-2"><a href="https://drive.google.com/open?id=1koPv-UDMT2qXI7BnMii_jPeNwvNJeqo4">Legislation</a></h2>
	<p>NOPSC members eventually drafted our own Legislation to present to the council.</p>

	<h2 class="m-t-2"><a href="https://www.facebook.com/fosnalive/videos/1919963761365707/?hc_ref=ARRJqnY6KAf51TXk5CFeDmttopZmhTWfvQPmEavt7hJxTsdc-gV9uZwBh8ystUa_zf8">Campaign Video</a></h2>
	<p>
		On January 11, 2018, activists in New Orleans, led by the New Orleans Palestinian Solidarity Committee, passed a resolution that called on the City Council to divest its funds from all corporations profiting from human rights violations. Just weeks later, that resolution was rescinded under pressure from Zionist campaign donors who feared that the resolution would implicate Israel. Watch the inspiring post-vote video by <a href="http://fosna.org">Friends of Sabeel-North America</a>.
	</p>

</div>
{{ partial "shared/bottom.html" . }}
