{{ partial "shared/top.html" . }}
<div class="container">
	<h1>Campaign Video</h1>
	<p>
		On January 11, 2018, activists in New Orleans, led by the New Orleans Palestinian Solidarity Committee, passed a resolution that called on the City Council to divest its funds from all corporations profiting from human rights violations. Just weeks later, that resolution was rescinded under pressure from Zionist campaign donors who feared that the resolution would implicate Israel. Watch the inspiring post-vote video by Friends of Sabeel-North America:
	</p>

	<h3><a href="https://www.facebook.com/fosnalive/videos/1919963761365707/?hc_ref=ARRJqnY6KAf51TXk5CFeDmttopZmhTWfvQPmEavt7hJxTsdc-gV9uZwBh8ystUa_zf8">View video</a></h3>
</div>
{{ partial "shared/bottom.html" . }}
